In [32]:
#import libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as  plt
import seaborn as sns
from datetime import datetime
import datetime

In [2]:
usr=pd.read_csv("userTable.csv")

In [3]:
usr["Signup Date"]=usr["Signup Date"].astype("datetime64[ns]")

In [4]:
col_list=["VisitDateTime","ProductID","UserID","Activity","OS"]

In [5]:
vis=pd.read_csv("VisitorLogsData.csv",usecols=col_list)

In [6]:
vis=vis.dropna(subset=["UserID"])

In [7]:
vis["Activity"]=vis["Activity"].str.lower()

In [8]:
vis.Activity.fillna(value="pageload",inplace=True)#if he has not clicked it can be assumed to be browsing

In [9]:
vis["ProductID"]=vis["ProductID"].str.title()#after seeing values we found out disperancy in casig converting to camel case

In [10]:
vis.ProductID.fillna(value="Product101",inplace=True)#giving in question

In [11]:
hgyfyiy

NameError: name 'hgyfyiy' is not defined

In [12]:
vis["OS"]=vis["OS"].str.lower()

In [ ]:
most_frequent_os=vis.OS.max()

In [13]:
vis.OS.value_counts()

windows      463639
android       89184
mac os x      55260
linux         24020
ubuntu        13337
ios            4390
chrome os       709
fedora          141
tizen            15
Name: OS, dtype: int64

In [15]:
frequencies=vis.OS.value_counts(normalize=True,ascending=True)

In [16]:
threshold=frequencies[(frequencies.cumsum()>0.1).idxmax()]

In [21]:
vis['OS']=vis.OS.mask(vis['OS'].map(vis['OS'].value_counts(normalize=True)) < 0.01, 'rare')

In [22]:
vis.describe()

                  VisitDateTime ProductID   UserID Activity       OS
count                    585892    650695   650695   650695   650695
unique                   542183      4635    34050        2        6
top     2018-05-09 13:44:40.741  Pr101042  U100347    click  windows
freq                          4     80785    14671   395613   463639

In [23]:
vis.isnull().mean()

VisitDateTime    0.09959
ProductID        0.00000
UserID           0.00000
Activity         0.00000
OS               0.00000
dtype: float64

In [24]:
vis["VisitDateTime"]=vis["VisitDateTime"].astype("category")
vis["VisitDateTime"]=vis["VisitDateTime"].astype('datetime64[ns]')

In [ ]:
vis.describe()

In [ ]:
vis.isnull().mean()

In [25]:
vis.VisitDateTime.dropna(inplace=True)#can't alter visit date time

In [ ]:
vis.describe()

In [39]:
f_file=pd.read_csv("feature_uv_null_no_recentviwed.csv")

In [42]:
f_file.head()

,UserID,No_of_days_Visited_7_Days,No_Of_Products_Viewed_15_Days,User_Vintage,Most_Viewed_product_15_Days,Most_Active_OS,Recently_Viewed_Product,Pageloads_last_7_days,Clicks_last_7_days
0,U100002,0,4,42.0,Pr101097,android,P12345,0,0
1,U100003,3,4,1017.0,Pr100178,windows,P12345,1,2
2,U100004,1,25,333.0,Product101,windows,P12345,1,0
3,U100005,2,4,678.0,Pr102072,android,P12345,2,0
4,U100006,1,1,47.0,Pr101111,android,P12345,1,0

In [48]:
f_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34050 entries, 0 to 34049
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   UserID                         34050 non-null  object
 1   No_of_days_Visited_7_Days      34050 non-null  int64
 2   No_Of_Products_Viewed_15_Days  34050 non-null  int64
 3   User_Vintage                   33429 non-null  float64
 4   Most_Viewed_product_15_Days    34050 non-null  object
 5   Most_Active_OS                 34050 non-null  object
 6   Recently_Viewed_Product        34050 non-null  object
 7   Pageloads_last_7_days          34050 non-null  int64
 8   Clicks_last_7_days             34050 non-null  int64
dtypes: float64(1), int64(4), object(4)
memory usage: 2.3+ MB

In [ ]:
feature_1= pd.merge(
    left=s,
    right=user_vintage,
    how="outer",
    on='UserID',
    copy=True)

# outlier handling in time

most e-commerce started in 1994 and we need upto may 28

In [26]:
vis=vis[vis["VisitDateTime"]>"1994-01-01"]
vis=vis[vis["VisitDateTime"]<"2018-05-28"]

In [38]:
vis.describe()

                           vintage
count                       529682
mean    32 days 04:48:50.990292288
std    352 days 00:12:48.512196152
min                1 days 00:00:00
25%                6 days 00:00:00
50%               11 days 00:00:00
75%               17 days 00:00:00
max             8908 days 00:00:00

In [ ]:
#vintage days

In [28]:
vis["Date"]=pd.to_datetime(vis["VisitDateTime"]).dt.date

In [29]:
vis["Date"]=vis["Date"].astype("category")
vis["Date"]=vis["Date"].astype('datetime64[ns]')

In [37]:
vis.head()

,VisitDateTime,ProductID,UserID,Activity,OS,Date,vintage
23,2018-05-10 06:28:53.391,Pr100241,U132443,pageload,windows,2018-05-10,18 days
24,2018-05-08 12:40:02.153,Pr100495,U134616,click,windows,2018-05-08,20 days
33,2018-05-11 15:35:43.689,Pr100363,U130784,click,rare,2018-05-11,17 days
50,2018-05-19 00:02:31.347,Pr100340,U120983,click,windows,2018-05-19,9 days
54,2018-05-19 04:51:45.337,Pr100166,U120287,click,windows,2018-05-19,9 days

In [33]:
last_day=datetime.datetime(2018,5,28)

In [36]:
vis["vintage"]=-(vis["Date"]-last_day)

In [53]:
vis["vintage"]=vis["vintage"].dt.days

In [54]:
user_vintage=vis.groupby(["UserID"])["vintage"].max()

In [55]:
feature_1= pd.merge(
    left=f_file,
    right=user_vintage,
    how="left",
    on='UserID',
    copy=True)

In [56]:
feature_1.isnull().mean()

UserID                           0.000000
No_of_days_Visited_7_Days        0.000000
No_Of_Products_Viewed_15_Days    0.000000
User_Vintage                     0.018238
Most_Viewed_product_15_Days      0.000000
Most_Active_OS                   0.000000
Recently_Viewed_Product          0.000000
Pageloads_last_7_days            0.000000
Clicks_last_7_days               0.000000
vintage                          0.040323
dtype: float64

In [57]:
feature_1["User_Vintage"]=feature_1["vintage"]

In [58]:
feature_1.head()

,UserID,No_of_days_Visited_7_Days,No_Of_Products_Viewed_15_Days,User_Vintage,Most_Viewed_product_15_Days,Most_Active_OS,Recently_Viewed_Product,Pageloads_last_7_days,Clicks_last_7_days,vintage
0,U100002,0,4,10.0,Pr101097,android,P12345,0,0,10.0
1,U100003,3,4,15.0,Pr100178,windows,P12345,1,2,15.0
2,U100004,1,25,15.0,Product101,windows,P12345,1,0,15.0
3,U100005,2,4,19.0,Pr102072,android,P12345,2,0,19.0
4,U100006,1,1,7.0,Pr101111,android,P12345,1,0,7.0

In [59]:
feature_1.drop(columns="vintage",inplace=True)

In [60]:
feature_1.fillna(value=0,inplace=True)

In [64]:
feature_1.to_csv("checklast.csv",index=False)

In [ ]:
combined_data=pd.merge(left=vis,right=usr,how="outer",on="UserID",copy=True)

In [ ]:
feature

In [ ]:
combined_data.info()

In [ ]:
combined_data.describe()

In [ ]:
combined_data.isnull().mean()

# fillna

In [ ]:
combined_data.ProductID.fillna(value="Product101",inplace=True)

In [ ]:
combined_data.Activity.fillna(value="pageload",inplace=True)

In [ ]:
combined_data.OS.fillna(value="other",inplace=True)

In [ ]:
combined_data.ProductID.fillna(value="Product101",inplace=True)

In [ ]:
combined_data["days"]=combined_data["VisitDateTime"]-combined_data["Signup Date"]